@import "settings";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";

.timetable {
	th, td {
		vertical-align: middle !important;
		@extend .text-center;
	}

	td .class {
		white-space: pre;
		@extend .small;

		&:before {
			content: '\A';
		}
	}
}